.about{
    margin-top: 3rem;
    h1{
        text-align: center;
        margin-bottom: 1rem;
    }

    .flex-about{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24rem;
        padding: 2rem 0;
        height: 60vh;
        .left-about{
            max-width: 150px;
            height: 100%;
            .about-images{
                @include flexBox(space-between, row);
                .left-img{
                    min-height: 500px;
                    margin-right: 1rem;
                    img{
                        width: 200px;
                        height: 400px;
                        object-fit: cover;
                    }
                }
                .right-img{
                    min-height: 500px;
                    img{
                        width: 200px;
                        height: 200px;
                        object-fit: cover;
                    }
                }
            }
        }
        .right-about{
            max-width: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 6rem;
        }
    }
}


@media (max-width: 800px){
    .about{
        display: none;
    }
}